<h1>Ember.js References</h1>
<ul class="references">
	<li><a target="_blank" href="http://emberjs.com/documentation/">Download and docs</a></li>
	<li><a target="_blank" href="http://code418.com/ember.js-dashboard">http://code418.com/ember.js-dashboard</a></li>
	<li><a target="_blank" href="http://code418.com/blog/2012/03/08/useful-emberjs-functions">http://code418.com/blog/2012/03/08/useful-emberjs-functions</a></li>
	<li><a target="_blank" href="http://code418.com/blog/2012/03/26/advanced-emberjs-bindings">http://code418.com/blog/2012/03/26/advanced-emberjs-bindings</a></li>
	<li><a target="_blank" href="http://www.lukemelia.com/blog/archives/2012/08/23/architecting-ember-js-apps">http://www.lukemelia.com/blog/archives/2012/08/23/architecting-ember-js-apps</a></li>
	<li><a target="_blank" href="http://codebrief.com/2012/03/eight-ember-dot-js-gotchas-with-workarounds">http://codebrief.com/2012/03/eight-ember-dot-js-gotchas-with-workarounds</a></li>
	<li><a target="_blank" href="http://vimeo.com/37539737">Ember.js meetup 2/21/12</a></li>
	<li><a target="_blank" href="http://vimeo.com/41339812">Ember.js meetup 3/27/12</a></li>
</ul>
