body {
	padding: 0.5em;
	font: 14px Arial, Helvetica, sans-serif;
}
header {
	padding: 0.25em;
	color: #FFF;
	background-color: #008;
	font-weight: bold;
	font-size: 1.15em;
}
table {
	width: 100%;
	border-collapse: collapse;
}
tr, th, td {
	border: 1px solid #EEE;
}
th {
	text-align: left;
	background-color: #EEE;
	border-bottom: 1px solid #CCC;
}
tr:hover {
	cursor: pointer;
	background-color: #EFF;
}
tr.selected {
	background-color: #EEF;
}
#container {
	width: 50em;
	border: 1px solid #008;
}
.controls {
	margin: 0.75em 0;
}
